@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");
:root {
  --DARK-CHARCOAL: #2E312F;
  --BRIGHT-GRAY: #E8F1F3;
  --TAUPE-GRAY: #878787;
  --DAVYS-GREY: #595959;
  --AZUREISH-WHITE: #D8E5E8;
  --WHITE: #FFFFFF;
}

.header {
  padding-top: 50px;
  position: relative;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.humburger {
  display: none;
}

.head__logo {
  width: 183px;
  height: 50px;
}

.head__list {
  display: flex;
  list-style: none;
}

.head__list__item {
  margin-right: 20px;
}

.head__list__item:last-child {
  margin-right: 0;
}

.head__item__link {
  text-decoration: none;
  color: var(--DARK-CHARCOAL);
  font-weight: 400px;
  transition: 0.3s;
}
.head__item__link:hover {
  color: var(--DAVYS-GREY);
}

.hero {
  border-radius: 40px;
  overflow: hidden;
  margin-bottom: 92px;
}

.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 82px 40px 0;
  background-color: var(--AZUREISH-WHITE);
}

.hero__content__text {
  max-width: 537px;
  margin-right: 79px;
}

.hero__text--title {
  font-weight: 700;
  font-size: 54px;
  line-height: 65px;
  color: var(--DARK-CHARCOAL);
  margin-bottom: 16px;
}

.hero__text--descr {
  font-weight: 500;
  line-height: 24px;
  color: var(--TAUPE-GRAY);
  margin-bottom: 32px;
}

.hero__content__img img {
  display: block;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: var(--WHITE);
}

.partners img {
  margin-right: 64px;
}
.partners img:last-child {
  margin-right: 0;
}

.products {
  padding-bottom: 128px;
}

.products--title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 221px;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--DARK-CHARCOAL);
  background-color: var(--WHITE);
  border-radius: 35px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.producs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  list-style: none;
}

.products__item--link:hover {
  transform: scale(1.1);
}

.products__item--link img {
  display: block;
  width: 285px;
  height: 400px;
}

@media (max-width: 1180px) {
  .header .humburger {
    display: block;
    position: sticky;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 1;
  }
  .header .humburger span {
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: var(--DARK-CHARCOAL);
    transition: 0.5s;
  }
  .header .humburger span:nth-child(1) {
    top: 0;
  }
  .header .humburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .header .humburger span:nth-child(3) {
    bottom: 0;
  }
  .header .humburger.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .header .humburger.active span:nth-child(2) {
    opacity: 0;
  }
  .header .humburger.active span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
  .header .head__list {
    display: none;
    position: fixed;
    background-color: darkorange;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 160px;
    text-align: center;
  }
  .header .head__list__item {
    margin: 0;
    padding-top: 40px;
  }
  .header .head__item__link {
    font-size: 28px;
    font-weight: 500;
  }
}
@media (max-width: 956px) {
  .hero {
    margin-top: 100px;
  }
  .hero__content {
    flex-wrap: wrap;
    padding: 42px 40px 0;
  }
  .hero__content__text {
    padding-bottom: 40px;
    order: 2;
    margin-right: 0;
    text-align: center;
  }
  .hero__content__img {
    order: 1;
    margin-bottom: 40px;
  }
  .hero__btn {
    margin: 0 auto;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  background-color: var(--BRIGHT-GRAY);
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  height: 56px;
  border: 1px solid var(--DARK-CHARCOAL);
  border-radius: 10px;
  text-decoration: none;
  color: var(--DARK-CHARCOAL);
  font-weight: 500;
  line-height: 24px;
  transition: 0.3s;
}
.btn:hover {
  color: var(--DAVYS-GREY);
  border-color: var(--DAVYS-GREY);
}

.discount-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 384px;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  color: var(--WHITE);
  background-color: var(--DARK-CHARCOAL);
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}
.discount-btn:hover {
  background-color: var(--DAVYS-GREY);
}/*# sourceMappingURL=style.css.map */